.sidebar{
    flex : 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    overflow-x: scroll;
}
.scroller {
    width: 300px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
  }
  
::-webkit-scrollbar {
    width: 5px;
    scrollbar-color: rgb(226, 121, 0);
    scrollbar-width: auto;
}
::-webkit-scrollbar-track {
    background-color: #4b4b4b;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(226, 121, 0);
}

.sidebarWrapper {
    padding: 20px;
  }
  
  .sidebarList {
    padding: 0;
    margin: 0;  
    list-style: none;
  }
  
  .sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sidebarIcon {
    margin-right: 15px;
  }
 
  .sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
  }
  
  .sidebarHr {
    margin: 20px 0;
  }
  
  .sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .SidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .SidebarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }